# Real auth file. can be passed through command line options
auth.real.json

#Sbt project dir
project

# intellij out dir
out
# intellij project dir
.idea


*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

